<% if @current_user.admin == true %>


<style>
	footer {
		position: fixed;
	}
</style>

<div id="admin_home_buttons">
	<div id="row1">
		<div id="item1">
			<div>Update Slide Show</div>
			<a href="/admin_update_slide_show"><i class="fa fa-bars fa-lg"></i></a>
		</div>
		<div id="item2">
			<div>Update Past Work</div>
			<a href="/admin_update_past_work"><i class="fa fa-picture-o fa-lg"></i></a>
		</div>
	</div>
	<div id="row2">
		<div id="item1">
			<div>Update Current Work</div>
			<a href="/admin_update_current_work_home"><i class="fa fa-home fa-lg"></i></a>
		</div>
		<div id="item2">
			<div>Update Contact Info</div>
			<a href="/admin_update_contact"><i class="fa fa-envelope fa-lg"></i></a>
		</div>
	</div>
</div>
<% end %>
