<% if @current_user.admin == true %>


<style>
	footer {
		position: fixed;
	}
</style>

<div id="update_slideshow_button">
	<%= link_to 'back', admin_home_path, :class => 'btn btn-mini' %>
</div>

<div id="signInBox">
  <%= render 'contact' %>
</div>

<% end %>