/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 *= require owl.carousel
 *= require owl.theme

 */
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import "bootstrap-sprockets";
  @import "bootstrap";

 html, body {
 	height: 100%;
 	margin: 0;
	color: #838383;
	font-family: 'Cinzel', serif;
 	padding: 0;
 }

h1 {
	font-family: 'Cinzel', serif;
}

h3 {
	font-family: 'Cinzel', serif;
}

h2 {
	font-family: 'Cinzel', serif;
}

a.btn.btn-mini {
	padding-left: 25px;
	font-family: 'Cinzel', serif;
}

 #main-wrapper {
	box-sizing: border-box;
	min-height: 100%;
	padding: 0 0 100px;
	position: relative;
}

#nav-bar ul {
	list-style-type: none;
	text-align: center;
	width: 100%;
	display: inline;
	color: #838383;
}

#footer-row1,
#footer-row2,
#footer-row3 {
	color: #838383;
	text-decoration: none;
	font-family: 'Cinzel', serif;
	letter-spacing: 1px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	line-height: 32px;
	position: static;
	bottom: 0;
	left: 0;
	padding-bottom: 30px;
}

footer {
	color: #838383;
	text-decoration: none;
	font-family: 'Cinzel', serif;
	letter-spacing: 1px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	line-height: 32px;
	position: static;
	bottom: 0;
	left: 0;
	height: 175px;
	padding-bottom: 30px;
}

div.row {
	padding-bottom: 75px
}

#nav-bar {
	background-color: white;
	border-color: white;
}

#nav-bar a{
	color: #838383;
	text-decoration: none;
	font-family: 'Cinzel', serif;
	letter-spacing: 1px;
	line-height: 48px;
	font-size: 20px;
}

a#nav-current-work {
	border: none;
}

#nav-bar a:hover {
	color: #343436;
}

#nav-bar .col-sm-2 {
	text-align: center;
}
#nav-logo {
	letter-spacing: 1px;
	line-height: 58px;
	font-family: 'Tangerine', cursive;
	font-size: 26px;
}

#nav-bar :not(#nav-logo) {
	border-left: 1px solid #e5e5e5;
}

#nav-row {
	padding-top: 35px;
}

#admin_home_buttons {
	padding-bottom: 115px;
}

#admin_home_buttons a {
	color: #838383;
}

#admin_home_buttons i {
	font-size: 100px;
	border-radius: 15px;
	padding: 10px;
	border: 3px solid #838383;
}

li {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.span3 {
	width: 23%;
	display: inline-block;
}

.thumbnail {
	border: 1px solid rgb(221, 221, 221);
	padding: 5px;
	margin: 25px;
}

div.thumbnail img {
	width: 100%;
}

.owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

#carousel-div {
	width: 100%
}

#container-carousel {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#update_slideshow {
	text-align: center;
}



#left_footer {
	width: 49.5%;
	display: inline-block;
}

#right_footer {
	width: 49.5%;
	display: inline-block;
}

div#nav-logo.col-sm-10 {
	font-size: 50px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;

	padding-top: 10px;
	padding-bottom: 10px;

}

@media(max-width:767px){
	div#footer-row1.row {
		margin-left: 0;
		margin-right: 0;
	}
	
	#container-carousel {
		margin-top: 335px;
	}

}


div#footer-row2.row {
	padding-bottom: 0;
}

// div#footer-row1.row {
// 	margin-left: 0px;
// 	margin-right: 0px;
// }

#signInBox{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	margin: auto;
	height: 50%;

}
#signInBox h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
#signInBox input[type="text"],
#signInBox input[type="date"],
#signInBox input[type="datetime"],
#signInBox input[type="email"],
#signInBox input[type="number"],
#signInBox input[type="search"],
#signInBox input[type="time"],
#signInBox input[type="url"],
#signInBox textarea,
#signInBox select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
#signInBox input[type="text"]:focus,
#signInBox input[type="date"]:focus,
#signInBox input[type="datetime"]:focus,
#signInBox input[type="email"]:focus,
#signInBox input[type="number"]:focus,
#signInBox input[type="search"]:focus,
#signInBox input[type="time"]:focus,
#signInBox input[type="url"]:focus,
#signInBox textarea:focus,
#signInBox select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

#signInBox input[type="submit"],
#signInBox input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #838383;
    border-bottom: 2px solid black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
#signInBox input[type="submit"]:hover,
#signInBox input[type="button"]:hover{
    background: #343436;
}

#row1, #row2 {
	padding-top: 50px;
	text-align: center;
}

#item1 div, #item2 div {
	padding-bottom: 10px;
	color: #838383;
	font-family: 'Cinzel', serif;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }



#fit-width .masonry {
  margin: 0 auto;
}



.item.w1 { width:  200px; }
.item.w2 { width:  250px; }
.item.w3 { width:  300px; }

.item.h1 { height: 200px; }
.item.h2 { height: 250px; }
.item.h3 { height: 300px; }

.item.w1 img { 
	width:  200px;
	padding: 5px
}
.item.w2 img { 
	width:  250px;
	padding: 5px
}
.item.w3 img { 
	width:  300px;
	padding: 5px;
}

.item.h1 img { height: 200px; }
.item.h2 img { height: 250px; }
.item.h3 img { height: 300px; }

#home_past_work {
	text-align: center;
	font-weight: normal;
	padding: 20px 0;
	color: #838383;
	font-family: 'Cinzel', serif;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 3%;
	margin-right: 3%;
}

#test {
	padding-bottom: 125px;
	width: 90%;
	margin: 0 auto;
}

#item1, #item2 {
	display: inline-block;
	width: 49.5%
}









#home_current_work {
	width: 100%;
}

div#home_current_work img {
	width: 50%;
}









/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}





div.carousel-inner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div#carousel-example-generic.carousel.slide {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


#testing_oh {
	background: #F9FAFF;
min-height: 100%;
height: auto;
position: absolute;
top: 100%;
left: 0;
width: 100%;
z-index: 10;
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
backface-visibility: hidden;
perspective: 1000;

}

#nav-row {
	padding-bottom: 15px;
	padding-top: 15px;
}

#nav-bar {
	margin-bottom: 0px;
}

#container-carousel {
	position: fixed;
	left: 10%
}


#nav-div {
    width: 100%;
    position: static;
}

#nav-wrap {
	z-index: 999;
    width: 100%;
    position: static;
    height: none !important;
}

a.btn.btn-mini {
	border: none !important;
}

div.owl_item img {
	top: 50%;
	left: 50%;
}

	@media (max-width: 767px) {
		#nav-wrap {
			position: static !important;
		}
		#nav-div {
			position: static !important;
		}
		#container-carousel {
			position: static !important;
			margin-top : 0 !important;
		}

		#testing_oh {
			min-height: 0 !important;
			position: static !important;
		}
		div#footer-row1.row {
			padding-bottom: 0px !important;
		}
		.col-sm-6 {
			padding: 15px 0 !important;
		}
	}